#stations {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#stationContainer {
    border: 1px solid #666;
    padding: 8px;
    height: 300px;
    overflow-y: auto;
    background: #111;
}

.station {
    border: 1px solid #444;
    padding: 12px 6px 6px 6px; /* extra top padding for labels */
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.items {
    display: flex;
    gap: 12px;
}

.itemDropdown {
    position: relative;
    width: 280px;
}

.itemDropdown label {
    position: absolute;
    top: -10px;
    left: 6px;
    font-size: 10px;
    color: #888;
    background: #111;
    padding: 0 2px;
}

input,
select,
.selected {
    border: 1px solid #888;
    padding: 2px 6px;
    background: #222;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    align-items: center;
}

.options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #222;
    border: 1px solid #888;
    max-height: 220px;
    overflow-y: auto;
    z-index: 100;
    width: 100%;
    box-sizing: border-box;
}

.options.show {
    display: block;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 6px;
    font-size: 12px;
}

.optionLeft {
    display: flex;
    align-items: center;
    gap: 6px;
}

.optionRight {
    display: flex;
    gap: 10px;
}

.rp {
    color: #4da6ff;
}

.money {
    color: #66cc66;
}

.option:hover {
    background: #444;
}

.circuit {
    display: flex;
    align-items: center;
    gap: 4px;
}

.count { width: 60px; }
.tier  { width: 90px; }

#addStationBtn {
    width: 150px;
}

.circuitDelay {
    width: 70px;
}

.icon {
    width: 16px;
    height: 16px;
    object-fit: contain;
    margin-right: 4px;
}

.rp {
    color: #4da6ff;
    margin-left: 8px;
}

.money {
    color: #66cc66;
    margin-left: 8px;
}

.remove {
    width: 24px;
    height: 24px;
    padding: 0;
    font-size: 14px;
}
